<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>

<body>
    <div th:fragment="allergeni(ingredienti)" class="d-flex justify-content-center flex-wrap">
        <div th:each="ingrediente : ${ingredienti}" class="d-flex">
            <div th:each="allergene : ${ingrediente.allergeni}" class="d-flex">
                <img th:src="'/imgs/allergeni/' + ${allergene.img} + '.png'" style="width: 35px; height:auto; margin-right: 10px;">
            </div>
        </div>
    </div>
</body>

</html>
