<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>

<body>
    <th:block th:fragment="footer">
        <footer class="bg-dark text-white text-center p-4 mt-5">
            <p>&copy; 2025 La Mia Pizzeria. Tutti i diritti riservati.</p>
            <div>
              <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
              <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
            </div>
          </footer>
    </th:block>
    
</body>

</html>
